CUSTOS_WEB_ISSUER=https://keycloak.e2e:8443/realms/custos
CUSTOS_WEB_CLIENT_ID=custos-e2e
CUSTOS_WEB_CLIENT_SECRET_FILE=../deploy/e2e/.secrets/keycloak-client-secret
CUSTOS_WEB_PUBLIC_ORIGIN=http://localhost:3000
CUSTOS_API_URL=https://127.0.0.1:8080
CUSTOS_WEB_TRUSTED_PROXY_HOPS=0
CUSTOS_API_CA_FILE=../deploy/e2e/.secrets/e2e-ca.crt
CUSTOS_WEB_AUTH_SECRETS=replace-this-with-at-least-32-random-bytes
CUSTOS_WEB_CA_FILE=../deploy/e2e/.secrets/e2e-ca.crt
CUSTOS_WEB_DEV=1
CUSTOS_WEB_INSECURE_COOKIES=1
